/*
 * lesma.css
 * Copyright (C) 2017-2025 Óscar García Amor
 *
 * Distributed under terms of the GNU GPLv3 license.
 */

html, body {
  height: 100%;
}

body {
  padding-top: .5rem;
  padding-bottom: 6rem;
}

.container-fluid {
  overflow-x: auto;
}

.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mb-end {
  margin-bottom: 6rem;
}

.lesma-input {
  height: 100%;
  resize: none;
}

.linenos {
  padding-right: 10px;
}

.linenodiv {
  background-color: #f7f7f7;
  padding: 0 5px;
}

.linenodiv pre {
  color: #acacac;
}

pre {
  line-height: 125%;
}

.offcanvas {
    --bs-offcanvas-width: initial!important;
}
